.bordes {
    border:1px solid black;
}
html {
    height: 100%;
}
.container {
    background-color:white;
    border-left:1px solid gray;
    border-right:1px solid gray;
    min-height:100vh;
}
body {
        font-family: 'Cinzel', serif !important;
        background-image:url('../imgs/UIS-2.png');
		background-size: 100% 100%;
        background-repeat:no-repeat; 
		background-attachment: fixed;
      }
	  
p {
    font-family: 'Comfortaa', cursive !important;
    font-size:1.1em;
}
.btn
{
    margin-bottom:5px !important;
}

.btn-home
{
    width:150px;
	margin:5px;
}
.btn-title
{
	width:350px;
	margin:10px;
}
.bghome
{
background-image:url('../imgs/UIS.png');
		background-size: 100% 100%;
        background-repeat:no-repeat; 
}

.fonthome{
	font-size:40px;
	color:white;   
}